@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --background-color: rgb(250, 250, 250);
  
  --strong-font-color: hsl(234, 12%, 34%);
  --weak-font-color: hsl(229, 6%, 66%);

}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  letter-spacing: .03em;

}

body {
  background-color: var(--background-color);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  padding: 60px 30px 10px;

}

#container {
  min-width: 230px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

header {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  padding: 0px 10px 60px;

}

.title {
  color: var(--strong-font-color);
  font-size: 6vmin;
  font-weight: 200;

}

.strong-title {
  color: var(--strong-font-color);
  font-size: 6vmin;
  font-weight: 600;

  margin-bottom: 20px;

}

.subtitle {
  color: var(--weak-font-color);
  font-size: 4vmin;
  font-weight: 400;

}

#componentsContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.component {
  background-color: white;

  width: 100%;
  min-height: 230px;

  position: relative;

  margin-bottom: 50px;
  padding: 20px 30px 10px;

  border-top: 4px solid transparent;
  border-radius: 5px;

  box-shadow: 0px 10px 15px 5px rgba(0, 0, 50, 0.1);

  transition: transform 0.3s, box-shadow 0.3s;

}

.component:hover,
.component:focus {
  transform: scale(1.03);

  box-shadow: 0px 10px 20px 5px rgba(0, 0, 100, 0.1);

}

.component .componentName {
  color: var(--strong-font-color);
  font-size: 1.5rem;
  font-weight: 600;

  margin-bottom: 5px;

}

.component .componentDescribe {
  color: var(--weak-font-color);
  font-size: 0.9rem; 
  font-weight: 400;

}

.component .componentIcon {
  max-width: 60px;
  width: 30%;
  height: 30%;

  position: absolute;
  bottom: 30px;
  right: 30px;

  user-select: none;

}