@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --color-neutral-1: hsl(234, 12%, 34%);
  --color-neutral-2: hsl(229, 6%, 66%);
  --color-neutral-3: rgb(250, 250, 250);

}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;

}

body {
  background-color: var(--color-neutral-3);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  padding: 60px 30px 10px;

}

#container {
  min-width: 230px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

header {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  padding: 0px 10px 60px;

}

.title {
  color: var(--color-neutral-1);
  font-size: 6vmin;
  font-weight: 200;

}

.strong-title {
  color: var(--color-neutral-1);
  font-size: 6vmin;
  font-weight: 600;

  margin-bottom: 20px;

}

.subtitle {
  color: var(--color-neutral-2);
  font-size: 4vmin;
  font-weight: 400;

}

#componentsContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.component {
  background-color: white;

  width: 100%;
  min-height: 230px;

  position: relative;

  margin-bottom: 50px;
  padding: 20px 30px 10px;

  border-top: 4px solid transparent;
  border-radius: 5px;

  box-shadow: 0px 10px 15px 5px rgba(0, 0, 50, 0.1);

}

.component .componentName {
  color: var(--color-neutral-1);
  font-size: 1.5rem;
  font-weight: 600;

  margin-bottom: 5px;

}

.component .componentDescribe {
  color: var(--color-neutral-2);
  font-size: 0.9rem; 
  font-weight: 400;

}

.component .componentIcon {
  max-width: 60px;
  width: 30%;
  height: 30%;

  position: absolute;
  bottom: 30px;
  right: 30px;

}